body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url(bg.png);
}

.container {
    justify-content: center;
    align-items: center;
    margin-top: 25px;
   
}

.between, .message {
    font-size: 20px;
    font-style:oblique;
    color: rgb(223, 28, 44);
}
.p {
    font-size: 20px;
}